# IDE and Editor
.vscode/
.DS_Store
*.sh

# Python
__pycache__/
.venv/

# LIGGGHTS specific
*.liggghts
*.post

# Output files
results/*
*.txt
*.out

# Analysis
avalanching_analysis/*

# Archive
archive/*

# Commented out
# *.static